{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "TEAMID.com.example.furtailApp",
        "paths": [
          "/campaign/*",
          "/post/*",
          "/posts/*",
          "/pet/*",
          "/pets/*",
          "/fundraising/*",
          "/profile/*",
          "/user/*"
        ]
      }
    ]
  }
}
